<section class="boxed no-padding bg-img " style="background-image: url(http://profiart.pl/wp-content/uploads/2017/05/background-wizyt.jpg);">
  <div class="sub-header depen-on-img">
    <img src="http://profiart.pl/wp-content/uploads/2017/05/background-wizyt.jpg" class="img-responsive" alt="">
    <div class="sub-header-inner center-center">
      <h2>Wizytówki</h2>   

      <div class="breadcrumb">
        <!-- Breadcrumb NavXT 5.6.0 -->
        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to profiart." href="http://profiart.pl" class="home"><span property="name">profiart</span></a><meta property="position" content="1"></span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Services." href="http://profiart.pl/portfolio-4-columns/" class="post post-service-archive"><span property="name">Portfolio</span></a><meta property="position" content="2"></span> &gt; <span property="itemListElement" typeof="ListItem"><span property="name">Wizytówki</span><meta property="position" content="3"></span>                
      </div>

    </div>
  </div>
</section>

<div class="c-graphics">
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2015/03/Stitch-Piece-Loop.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Tabitha-Kay-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Greige-Dreams-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Greige-Dreams-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2015/03/Stitch-Piece-Loop.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Tabitha-Kay-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Greige-Dreams-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Greige-Dreams-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2015/03/Stitch-Piece-Loop.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Tabitha-Kay-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Greige-Dreams-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Greige-Dreams-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2015/03/Stitch-Piece-Loop.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Tabitha-Kay-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Greige-Dreams-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Greige-Dreams-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2015/03/Stitch-Piece-Loop.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Tabitha-Kay-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Greige-Dreams-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Greige-Dreams-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2015/03/Stitch-Piece-Loop.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Tabitha-Kay-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Greige-Dreams-Business-Card-Design.jpg">
  </div>
  <div class="c-graphics__card">
    <img src="http://www.designerblogs.com/wp-content/uploads/2014/08/Greige-Dreams-Business-Card-Design.jpg">
  </div>
</div>